SimpleBlogEngine/SimpleBlogEngine.Web/bin
SimpleBlogEngine/SimpleBlogEngine.Web/obj

SimpleBlogEngine/SimpleBlogEngine.Repository/bin
SimpleBlogEngine/SimpleBlogEngine.Repository/obj

SimpleBlogEngine/SimpleBlogEngine.Service/bin
SimpleBlogEngine/SimpleBlogEngine.Service/obj

SimpleBlogEngine/.vs
SimpleBlogEngine/.vscode
