SimpleBlogEngine/SimpleBlogEngine/bin
SimpleBlogEngine/SimpleBlogEngine/obj

SimpleBlogEngine/SimpleBlogEngine.Model/bin
SimpleBlogEngine/SimpleBlogEngine.Model/obj

SimpleBlogEngine/SimpleBlogEngine.Repository/bin
SimpleBlogEngine/SimpleBlogEngine.Repository/obj

SimpleBlogEngine/SimpleBlogEngine.Service/bin
SimpleBlogEngine/SimpleBlogEngine.Service/obj

SimpleBlogEngine/.vs
