@model ModalFooter

<div class="modal-footer">
    <a href="/Post" class="btn btn-default">Cancel</a>
    @if (!Model.OnlyCancelButton)
    {
        <button class="btn btn-success" id="@Model.SubmitButtonID" type="submit">
            @Model.SubmitButtonText
        </button>
    }
</div>
