@page
@model SimpleBlogEngine.Web.Pages.Post.CreateEditPostModel
@{
    ViewData["Title"] = "CreateEditPost";
}

<form method="post" role="form">
    @await Html.PartialAsync("../Shared/_ModalHeader", new ModalHeader { Heading = String.Format("{0} Post", @Model.createEditPostViewModel.Id == 0 ? "Add" : "Edit") })
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label asp-for="createEditPostViewModel.Title" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="createEditPostViewModel.Title" class="form-control" />
                <span asp-validation-for="createEditPostViewModel.Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="createEditPostViewModel.Content" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <textarea rows="10" asp-for="createEditPostViewModel.Content" class="form-control"></textarea>
                <span asp-validation-for="createEditPostViewModel.Content" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="createEditPostViewModel.CategoryId" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <select asp-for="createEditPostViewModel.CategoryId" asp-items="@Model.createEditPostViewModel.Categories" class="form-control">
                    <option>Please slect</option>
                </select>
                <span asp-validation-for="createEditPostViewModel.CategoryId" class="text-danger"></span>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("../Shared/_ModalFooter", new ModalFooter { })
</form>

@section scripts
    {
    @{ await Html.RenderPartialAsync("../Shared/_ValidationScriptsPartial");}
}
